<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawshank Redemption (1994) - wTw</title>
    <link href="css/movies.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="img/WTWLogo.png" type="image/x-icon" />
    

 <style>
    html {
    background:  url('https://www.themoviedb.org/t/p/original/avedvodAZUcwqevBfm8p4G2NziQ.jpg') no-repeat center center fixed rgb(0, 0, 0);
    background-size: cover;
  }

  .moviecard .movie-poster {
    position: absolute;
    background: url("https://www.themoviedb.org/t/p/original/lyQBXzOQSuE59IsHyhrp0qIiPAz.jpg");
    background-color: #dbdbdb;
    background-size: 360px 540px;
    background-repeat: no-repeat;
    height: 0;
    width: 360px;
    height: 540px;
    right: -100px;
    top: 75px;
    -moz-box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
    box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 500ms ease-out;
    z-index: 10;
  }

  a {
    text-decoration: none;
    font-family: 'Arimo', Arial, sans-serif;
    color:rgb(0, 0, 0)
  }

  button.learn-more .halka {
  background: linear-gradient(to bottom right, #8d4808, #ffffff);
  }
  
  
 </style>
</head> 
<body>
  <div class="container">
    <div class="logo">
      <a href="anasayfa2.html"><img src="img/WTWLogo.png" alt="WTW"></a>
    </div>
    <ul class="menu-bar">
      <li><a href="anasayfa2.html">Ana Sayfa</a></li>
      <li><a href="filmler.html">Film</a></li>
      <li><a href="diziler.html">Dizi</a></li>
      <li><a href="iletisim.html">İletişim</a></li>
      <li><a href="anasayfa.html">Çıkış Yap</a></li>
    </ul>
    
  </div>
    <div class="moviecard">
        <div class="movie-poster play-trailer"></div>
        <div id="movie-content">
          <div class="movie-ratings"><span class="star">★</span><span class="score">9.3</span><span class="score-out-of"> / 10 [IMDB]</span></div>
          <div class="movie-title"><a href="https://www.imdb.com/title/tt0111161/" target="_blank">Shawshank Redemption</a><span class="movie-year">1994</span></div>
          <div class="movie-details"><span class="movie-rating">15+</span><span class="movie-duration">2h 22min</span><span class="movie-genre">Drama</span></div>
          <div class="movie-castcrew"><span class="title">Yönetmen</span><span class="name">Frank Darabont</span></div>
          <div class="movie-castcrew"><span class="title">Senarist</span><span class="name">Stephen King</span></div>
          <div class="movie-castcrew"><span class="title">Oyuncular</span><span class="name">Tim Robbins, Morgan Freeman, Bob Gunton, William Sadler, Clancy Brown...</span></div>
          <div class="movie-synopsis">Genç ve başarılı bir banker olan Andy Dufresne, karısını ve onun sevgilisini öldürmek suçundan ömür boyu hapse mahkum edilir ve Shawshank hapishanesine gönderilir. İşkence, tecavüz, dayak dahil her türlü kötü koşulun hüküm sürdüğü hapishane koşullarında, Andy'nin hayata bağlı ve her daim iyi bir şeyler bulma çabası içindeki hali, çevresindeki herkesi çok etkileyecektir. Bir süre sonra parmaklıkların arkasında bile özgür bir yaşam olabileceğine bütün mahkumları inandırır. Bu mahkumlardan biri olan Ellis Boyd "Red" ve Andy, unutulmaz bir dostluk kurarak hapishaneyi bambaşka bir yer haline getirirler.</div>
        </div>
        <div id="butongenel">
            <button class="learn-more">
              <span class="halka" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              
              <span class="button-text"><a button id="myBtn">Fragman</button></a>
                <div id="myModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <iframe width="1480" height="740" src="https://www.youtube.com/embed/87Z98pEFMhs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div></a></span>
            </button>
        </div>
        <div id="butongenel">
            <button class="learn-more">
              <span class="halka" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              
              <span class="button-text"><a href="404.html">İZLE</a></span>
              
            </button>
        </div>
        <div id="butongenel">
            <button class="learn-more">
              <span class="halka" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              
              <span class="button-text"><a href="https://yts.mx/torrent/download/E0D00667650ABA9EE05AACBBBD8B55EA8A51F534">İNDİR</a></span>
              
            </button>
      </div>

    </div>
    <div class="moviecard">
      <div class="comments-app" ng-app="commentsApp" ng-controller="CommentsController as cmntCtrl">
        <h1></h1>
        
    
        <div class="comment-form">
    
          <div class="comment-avatar">
            <img src="https://scontent.fist7-2.fna.fbcdn.net/v/t1.6435-1/p160x160/88979199_1828630413934184_8738263331971792896_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=7206a8&_nc_ohc=fZ59cDbJqtcAX_D9LPW&_nc_ht=scontent.fist7-2.fna&tp=6&oh=9576c2182d6f0d4c7359317a1ad26735&oe=60C0507C">
          </div>
      
          <form class="form" name="form" ng-submit="form.$valid && cmntCtrl.addComment()" novalidate>
            <div class="form-row">
              <textarea
                        class="input"
                        ng-model="cmntCtrl.comment.text"
                        placeholder="Yorumunuz..."
                        required></textarea>
            </div>
      
            <div class="form-row">
              <input
                     class="input"
                     ng-class="{ disabled: cmntCtrl.comment.anonymous }"
                     ng-disabled="cmntCtrl.comment.anonymous"
                     ng-model="cmntCtrl.comment.author"
                     ng-required="!cmntCtrl.comment.anonymous"
                     placeholder="E-mail"
                     type="email">
            </div>
      
            <div class="form-row text-right">
              <input
                     id="comment-anonymous"
                     ng-change="cmntCtrl.anonymousChanged()"
                     ng-model="cmntCtrl.comment.anonymous"
                     type="checkbox">
              <label for="comment-anonymous">Anonim</label>
            </div>
      
            <div class="form-row">
              <input type="submit" value="Yorumu Gönder">
            </div>
          </form>
        </div>
      
     
        <div class="comments">
         
      
      
          <div class="comment">
         
            <div class="comment-avatar">
              <img src="https://scontent.fist7-2.fna.fbcdn.net/v/t1.6435-1/p160x160/88979199_1828630413934184_8738263331971792896_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=7206a8&_nc_ohc=fZ59cDbJqtcAX_D9LPW&_nc_ht=scontent.fist7-2.fna&tp=6&oh=9576c2182d6f0d4c7359317a1ad26735&oe=60C0507C">
            </div>
      
            <div class="comment-box">
              <div class="comment-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo</div>
              <div class="comment-footer">
                <div class="comment-info">
                  <span class="comment-author">
                    <a href="">Epixey</a>
                  </span>
                  <span class="comment-date">06 Mart, 2020 10:27:55 PM</span>
                </div>
      
                <div class="comment-actions">
                  <a href="#">Cevapla</a>
                </div>
              </div>
            </div>
          </div>
      
        
          <div class="comment">
           
            <div class="comment-avatar">
              <img src="https://scontent.fist7-2.fna.fbcdn.net/v/t1.6435-1/p160x160/88979199_1828630413934184_8738263331971792896_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=7206a8&_nc_ohc=fZ59cDbJqtcAX_D9LPW&_nc_ht=scontent.fist7-2.fna&tp=6&oh=9576c2182d6f0d4c7359317a1ad26735&oe=60C0507C">
            </div>
      
         
            <div class="comment-box">
              <div class="comment-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo</div>
              <div class="comment-footer">
                <div class="comment-info">
                  <span class="comment-author">
                    <a href="#">Quantine</a>
                  </span>
                  <span class="comment-date">06 Mart, 2021 20:47:04 PM</span>
                </div>
      
                <div class="comment-actions">
                  <a href="#">Cevapla</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <script src="js/movies.js"></script>
</body>
<script src="js/movies.js"></script>
</html>